@font-face{
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.ttf) format('truetype');
}
@font-face{
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.ttf) format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

.header{
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #41F6D7 1px solid;
    background-color: #FFFFFF;
}

.logo{
    min-width: 95.55px;
    height: 50.81px;
    background-image: url(./static/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 16px;
    margin-right: auto;
}

.btn{
    margin-left: 16px;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid #FF3E79;
    background: #FF3E79 no-repeat center;
    border-radius: 50%;

}

.empty-div{
    width: 0;
    padding: 0;
    background-color: #EAEAEA;
    height: 32px;
    border: 0;
    border-right: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-radius: 1px;
    margin-left: 16px;
    margin-right: 4px;
}

.body__main{
   margin: 24px 0 24px 0;
   min-height: 509px;
   background-color: #F8F8F8;
   display: flex;
   flex-wrap: wrap;
}
.body__title{
    display: flex;
    width: 100%;
}
.body__title-content{
    margin-right: 12px;
    font-family: 'TT Lakes', sans-serif;
    height: 40px;
    text-align: left;
}
.body__title-text{
    height: 40px;
    margin-left: 0;
    font-size: 28px;
    font-style: bold;
}

.body__title-button{
  display: flex;
}
.body__title-button:first-of-type {
  margin-left: auto;
}

.body__info-text{
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 0 16px;
    vertical-align: top;
    line-height: 18px;
    overflow: hidden;
    height: 90px;
    letter-spacing: 0.2px;
}
.wall{
    border-right: 4px solid #41F6D7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 0;
}

.body__button{
    white-space: nowrap;
    display: flex;
    overflow: scroll;
    margin-right:15px;
    margin-left: 24px;
    align-items: center;
    line-height: 24px;
    width: 100%;
}
.body__button::-webkit-scrollbar{
    width: 0;
}
.body__button-line{
    flex: 1 1 auto;
    padding-left: 24px;
    color: #7E7E82;
    font-size: 16px;
    font-family: 'TT Lakes', sans-serif;
}

.body__button-line.actived{
    border: 2px solid #B8FFEC;
    padding: 6px;
    padding-left: 14.67px;
    padding-right: 7.38px;
    background-color: #FFFFFF;
    border-radius: 6px;
}
a{
 text-decoration: none;
}
.icon__button-arrow{
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    transform: rotate(45deg);
}
.body__next:hover{
    opacity: 0.7;
    color: #7E7E82;
  }

.body__next-button{
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 16px;
}

.body__next{
    display: flex;
    padding: 16px;
    line-height: 24px;
    align-items: center;
    background-color: #F8F8F8;
    border: none;
}
.body__image{
    margin: auto;
  width: 100%;
}
.body__image-foto{
    width: 100%;
}
.btn-support{
  background-image: url(./static/support.svg);
  margin-left: auto;
}

.btn-menu{
  background-image: url(./static/Main.svg);
}

.btn-search{
  background-image: url(./static/Search.svg);
  margin-right: 24px;
}
.btn-setting{
  background-image: url(./static/Setting.svg);
}
.btn-message{
  background-image: url(./static/Message.svg);
}
.btn-profile{
    background-image: url(./static/Profile.svg);

}

.laptop, .pc{
    display: none;
}
.btn:hover{
    opacity: 0.7;
    scale: 0.8;
}

@media (min-width: 768px){
.header .laptop{
 display: block;
}
.hide{
    display: none;
}
  .empty-div{
    margin-left: 20px;
  }
.body__title-content{
    margin-right: 20px;
}
.body__info-text{
    width: 312px;
    height: 160px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
}
.body__image-foto{
    width: 380px;
    height: auto;
    border-radius: 6px;
}

.body__image{
  margin: 0 32px 0 auto;
  width: 360px;
  height: 259.66px;

}
.body__info{
    width: 312px;
    margin-left: 24px;
    margin-bottom: auto;

}
.body__next{
    padding-left: 0;
    padding-top: 10px;
}
.body__button{
    margin-bottom: auto;
}
}

@media(min-width:1440px){
.header{
    display: none;
}
.pc{
    display: block;
}
.body__title-content{
    margin-right: 30px;
}
.signature-setting{
    margin-left: auto;
}
.body__title-signature{
    font-family: 'TT Lakes', sans-serif;
    font-style: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    max-width: 125px;
    height: 24px;
    align-self: center;
}
.body__main{
    align-items: center;
}
.body__button{
    flex-wrap: wrap;
    margin: 15px 32px;
}
.body__button-line{
    margin-bottom: 15px;
}
.body__button-line:last-child{
    padding-left: 20px;
}
.body__info-text{
    width: 490px;
    height: 160px;
}
.body__image{
    width: 535px;
    height: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 32px;
}
.body__image-foto{
    width: 531.35px;
    height: auto;

}
.btn-setting{
    margin-right: 32px;
}
.body__info{
    margin-left: 34px;
    margin-bottom: auto;
}
.transform1440px{
    position: absolute;
    left: 320px;
}
}

*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.main-slider-swiper{
  min-width:  320px;
  min-height: 220px;
  background-color: #f8f8f8;
}
.main-slider-swiper .swiper-container{
  width: 240px;
}
.main-swiper__wrapper{
  padding-bottom: 16px;
}
.main-title-slider{
  display: flex;
  align-items: center;
  font-family: 'TT Lakes', sans-serif;
  color: #7E7E82;
  font-size: 16px;
  height: 80px;
  width: 100%;
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #F8F8F8 35%, #FFFFFF 100%);
  border-top: 1px solid #D9FFF5;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.main-swiper .swiper-slider{
  width: 240px;
  height: 72px;
}
.main-swiper__slide-button{
  margin-right: 16px;
  height: 72px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 16px;
  text-align: left;
  vertical-align: middle;
  padding-left: 16px;
}
.main-swiper__slide-button__partner{
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  margin: 16px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
}
.main-swiper__slide-button__partner-next{
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid #FF3E79;
  border-bottom: 2px solid #FF3E79;
  transform: translate(14px, 14px) rotate(-45deg);
  background-color: #FFFFFF;
  right: 47px;
  top: 18px;
}
.image-partner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0 auto 16px;
}

.swiper-pagination{
  position: relative;
  transform: scale(1.3);
}
.laptop{
  display: none;
}
.swiper-pagination-bullet-active{
  background-color: #B5B6BC;
}
.swiper{
  width: 100%;
  padding: 16px 16px 24px 16px;
  box-shadow: inset 1px 1px 1px 1px #F8F8F8;
}
.main__next-button_slider{
  display: none;
}
.hide{
  display: block;
}
@media (min-width: 768px){
  .swiper{
    padding: 16px 24px 24px 24px;
  }
  .first-swiper{
    margin: 0 auto;
    width: 768px;
  }
  .swiper-pagination{
   display: none;
  }
  .main-slider-swiper .swiper-container{
    display: contents;
  }
  .main-swiper{
    display: flex;
    flex-wrap: wrap;
  }
  .main-swiper__slide-button{
  width: 224px;
  height: 72px;
  margin-bottom: 16px;
  margin-right: 24px;
  }

  .main-swiper__wrapper.laptop {
    padding: 24px 0 24px 24px;
  }

  .main-swiper__slide-button:nth-child(3n){
    margin-right: 0;
  }
  .main-title-slider{
    line-height: 24px;
    height: 56px;
  }
  em{
    font-style: normal;
  }
  .main__next-button_slider{
    display: flex;
    align-items: center;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: #F8F8F8;
  }
  .main__next-button_slider img{
    width: 7.41px;
    height: 10.29px;
    margin-right: 16px;
    margin-left: 8px;
  }

  .main__next-button_slider:hover{
    opacity: 0.7;
    color: #7E7E82;
  }
  .icon__button-arrow{
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    transform: rotate(45deg);
  }
  .icon__button-arrow-hide{
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    transform: rotate(-135deg);
  }
  .hide{
    display: none;
  }
}
@media (min-width: 1138px){
  .main-swiper__slide-button:nth-child(4n){
    margin-right: 0;
  }
}
@media (min-width: 1120px){
  .swiper{
    padding: 16px 32px 24px 32px;
  }
  .first-swiper{
    width: 1120px;
  }
  .main-swiper__slide-button{
    width: 240px;
    height: 72px;
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .main-swiper__wrapper.laptop{
    padding: 24px 0 24px 34px;
  }
  .main-swiper__slide-button:nth-child(3n){
    margin-right: 16px;
  }
  .hide768px.hide{
    display: block;
  }
}
@media (min-width: 1300px){
  .main-swiper__slide-button:nth-child(4n){
    margin-right: 16px;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal-burger{
 display: none;
 width: 100%;
 box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
 height: 100%;
}
.body__modal-burger{
  padding: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  opacity: 1;
  z-index: 1001;

}
.opacity{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    display: none;
}

.modal-body__modal-header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo_position{
  margin-left: 16px;
  margin-right: auto;
}
.btn_modalSearch{
    background-image: url(./static/sidebar_search.png);
    margin-left: auto;
}
.btn-cross{
    background-image: url(./static/cross.png);
    margin-left: 0;
}
a{
    text-decoration: none;
    color: #1B1C21;
}
.modal-burger__modal-navigation{
    padding-top: 34px;
}
.modal-emptyDiv{
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    top: 118px;
}
.modal-burger__modal-button-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-burger__link{
   padding-bottom: 32px;
   font-size: 16px;
   font-family: 'TT Lakes', sans-serif;
   font-weight: 600;
}
.modal-burger__link.actived{
    color: #7E7E82;
}
.modal-burger__button .btn-support{
    margin-left: auto;
}

.modal-burger__modal-footer{
    position: absolute;
    bottom: 24px;
}
.modal-burger__button{
    padding-bottom: 16px;
}
.modal-burger__email{
    padding-bottom: 12px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.modal-burger__phone{
    padding-bottom: 40px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
}
input[type="radio"]{
    display: none;
}
#rus:checked ~ label[for="rus"]{
    color: #7E7E82;
}
#eng:checked ~ label[for="eng"]{
    color: #7E7E82;
}
#chi:checked ~ label[for="chi"]{
    color: #7E7E82;
}
label{
    font-family: 'TT Lakes', sans-serif;
    padding-right: 7px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
@media(max-width: 1439px){
.sidebar-hide{
    transform: translateX(-640px);
    animation: hide-sidebar 1s;
}
    @keyframes hide-sidebar {
    from {transform:translateX(0);}
    to {transform:translateX(-640px);}
}
.sidebar-show{
    transform: translateX(0);
    animation: open-sidebar 1s;
}
    @keyframes open-sidebar {
    from {transform:translateX(-640px);}
    to {transform:translateX(0);}
}
}
@media(min-width: 640px){
    .modal-burger{
        width: 320px;
    }
    .modal-burger__modal-navigation{
        padding-top: 50px;
    }
    .modal-emptyDiv{
        top: 138px;
    }

    .modal-burger__phone{
        padding-bottom: 40px;
    }
}
@media(min-width: 1440px){
    .modal-burger{
        display: block !important;
        position: absolute;
        transform: translateX(0);
        height: 1024px;
        box-shadow: none;
    }
    .opacity{
        width: 320px;
        height: 100%;
        position: fixed;
        background-color: #FFFFFF;
        opacity: 1 !important;
        display: block !important;
    }
    .btn-cross{
        display: none;
    }
}

.main-swiper_technical-size .main-swiper__slide-button{
  height: 160px;
  display: flex;
  padding: 16px;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
}
.main-swiper_technical-size .main-swiper__slide-button__partner{
  top: 87px;
}
.main-swiper_technical-size .main-swiper__slide-button__partner-next{
  top: 105px;
}
@media(min-width: 768px){
  .technical-hide768px.hide{
    display: none;
  }
  .technical-hide1120px.hide{
    display: none;
  }
  .second-swiper{
    margin: 0 auto;
    width: 768px;
  }
  .main-swiper_technical-size .main-swiper__slide-button{
    width: 224px;
  }
}
@media(min-width: 1110px){
  .technical-hide768px.hide{
    display: flex; 
  }
}
@media(min-width: 1120px){
.main-swiper_technical-size .main-swiper__slide-button{
  width: 240px;
}
.second-swiper{
  width: 1120px;
}
}
.main-swiper_price-size .main-swiper__slide-button{
  width: 260px;
  height: 200px;
  font-family: 'TT Lakes Regular', sans-serif;
  font-size: 14px;
  padding: 16px;
}
.main-swiper_price-size .title-price{
  font-family: 'TT Lakes Medium', sans-serif;
  color: #7E7E82;
  margin-bottom: 4px;
  line-height: 16px;
}
.main-swiper_price-size .title-price_name{
  margin-bottom: 16px;
  line-height: 18px;
  font-family: 'TT Lakes', sans-serif;
  font-size: 14px;
}
.title-price_order{
  width: 119px;
  height: 32px;
  background-color: #FF3E79;
  border-left: 1px solid #FF3E79;
  border-right: 1px solid #FF3E79;
  border-radius: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
}
.main-swiper_price-size .main-swiper__slide-button__partner{
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: 8px;
  background-color: #FF3E79;
}
.main-swiper_price-size .title-price_order-name{
  padding-left: 12px;
  font-family: "TT Lakes", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main-swiper_price-size .main-swiper__slide-button__partner-next{
  width: 7px;
  height: 7px;
  border-color: #FFFFFF;
  top: -2px;
  left: 78px;
  background-color: #FF3E79;
}
.last-swiper{
  padding-bottom: 16px;
}
.title-price_768px{
  display: none;
}
@media(min-width: 768px) {
.last-swiper{
  max-width: 720px;
  margin: 0 auto 24px auto;
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
}
.title-price_768px{
  display: flex;
  max-width: 720px;
  color: #7E7E82;
  padding: 0 24px 16px 24px;
  margin: 30px auto 0 auto;
  font-family: 'TT Lakes', sans-serif;
}
.title-price_768px .title-price:nth-child(1){
  width: 348px;
  margin-right: auto;
}
.title-price_768px .title-price:nth-child(2){
  width: 74px;
  margin-right: auto;
}
.title-price_768px .title-price:nth-child(3){
  width: 81px;
  margin-right: auto;
}
.title-price_768px .title-price_empty{
  width: 119px;
  height: 32px;
  margin: 0 16px 0 16px;
}
.main-swiper_price-size .main-swiper__slide-button{
  width: 100%;
  height: 64px;
  display: flex;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #EAEAEA;
  padding: 0;
  margin-right: 0;
}
.main-swiper__slide-button .title-price{
  display: none;
}
.main-swiper_price-size .title-price_name{
  margin: auto 0;
}
.main-swiper_price-size .title-price_name:nth-child(2){
  margin-right: auto;
  width: 348px;
}
.main-swiper_price-size .title-price_name:nth-child(4){
  margin-right: auto;
  width: 74px;
}
.main-swiper_price-size .title-price_name:nth-child(6){
  margin-right: auto;
  width: 81px;
}
.main-swiper_price-size .main-swiper__slide-button:nth-child(5){
  border: none;
}
.main-swiper_price-size .title-price_order{
  position: relative;
  margin: auto 16px;
  min-width: 119px;
}
}
@media(min-width: 1120px){
  .last-swiper{
    max-width: 1056px;
    
  }
  .title-price_768px{
    max-width: 1056px;
    
  }
}
.signature-price{

  background-color: #F8F8F8;
  font-family: 'TT Lakes', sans-serif;
}
.signature-price_indent{
  margin: 0;
  padding: 0 16px 0 16px;
}
.signature-price .signature-price__text{
  font-size: 14px;
  max-width: 421px;
  padding-bottom: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.signature-price__commercial-offer-text .commercial-offer_text{
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 40px;
}
.signature-price__commercial-offer-text .main-swiper__slide-button__partner-next{
  background-color: #F8F8F8;
  top: -16px;
  right: 10px;
  position: relative;
}
@media(min-width: 768px){
  .signature-price_indent{
  padding: 0 24px 0 24px;
}
}
@media(min-width: 1120px){
  .signature-price_indent{
    padding: 0 32px 0 32px;
  }
  }

.footer{
  border-top: 1px solid #D9FFF5;
  padding: 16px 0 16px 0;
}
.copyrights{
  background-color: #F8F8F8;
  color: #7E7E82;
  display: flex;
  flex-direction: column;
  font-family: 'TT Lakes', sans-serif;
  text-align: center;
}
.copyrights .copyrights-text{
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
}
@media(min-width: 768px){
  .footer{
    padding: 32px 24px 24px 24px;
  }
  .copyrights{
    flex-direction: row;
  }
  .copyrights .copyrights-text:nth-child(1){
    text-align: start;
    width: 218px;
  }
  .copyrights .copyrights-text:nth-child(2){
    margin-left: auto;
    margin-right: auto;
  }
  .copyrights .copyrights-text:nth-child(3){
    text-align: end;
    width: 213px;
  }
}
@media(min-width:1120px){
  .copyrights .copyrights-text:nth-child(3){
    width: 330px;
  }
  .footer{
    padding: 32px 32px 24px 32px;
  }
}
.modal{
  display: none;
  width: 100%;
  height: 100%;
  padding: 24px 16px;
  background-color: #FFFFFF;
  min-height: 676px;
  font-family: 'TT Lakes', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1005;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
}
.modal .btn{
  margin-bottom: 40px;
}
.modal-title{
  margin-bottom: 24px;
  font-size: 24px;
  letter-spacing: -0.6px;
}
.modal-input{
  width: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 16px;
  resize: none;
  font-family: 'TT Lakes', sans-serif;
}
.modal-button{
  position: relative;
  width: 136px;
  height: 32px;
  padding: 6px 8px;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}
.modal-button .main-swiper__slide-button__partner-next{
  border-color: #FFFFFF;
  top: -2px;
  right: 33px;
  background-color: #FF3E79;
}
.modal-button .main-swiper__slide-button__partner{
  margin: 0;
  width: 27px;
  height: 24px;
  position: relative;
  background-color: #FF3E79;
}
.modal-button-text{
  margin-left: auto;

  font-size: 12px;
  font-weight: bold;
}
.modal-title_text{

  color: #7E7E82;
  font-size: 14px;
  line-height: 16px;
}
.modal-title_text_color{
  color: #FF3E79;
}
.modal-title_text_color:hover{
  text-decoration-line: underline;
}
textarea[type='text']{
  min-height: 118px;
}
.modal .modal-emptyDiv{
  width: 3px;
  height: 40px;
  top: 96px;
}
.opacity-modal{
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #ffffff;
  position: fixed;
  z-index: 1004;
  display: none;
}
.modal-hide{
  transform: translateX(640px);
  animation: hide-modal 1s;
}
  @keyframes hide-modal {
  from {transform:translateX(0);}
  to {transform:translateX(640px);}
}
.modal-show{
  transform: translateX(0);
  animation: open-modal 1s;
}
  @keyframes open-modal {
  from {transform:translateX(640px);}
  to {transform:translateX(0);}
}
@media(min-width: 640px){
  .modal{
    width: 320px;
  }
}
@media(min-width: 1440px){
  .modal .btn{
    display: block;
    position: absolute;
    right: 458px;
  }
  .modal{
  width: 440px;
  padding: 40px 32px;
  }
  .modal .modal-emptyDiv{
    top: 32px;
    transform: translateX(-1.5px);
    border-radius: 2px;
  }

}




/*# sourceMappingURL=style.css.map*/