*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal-burger{
 display: none;
 width: 100%;
 box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
 height: 100%;
}
.body__modal-burger{
  padding: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  opacity: 1;
  z-index: 1001;

}
.opacity{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    display: none;
}

.modal-body__modal-header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo_position{
  margin-left: 16px;
  margin-right: auto;
}
.btn_modalSearch{
    background-image: url(../img/sidebar_search.png);
    margin-left: auto;
}
.btn-cross{
    background-image: url(../img/cross.png);
    margin-left: 0;
}
a{
    text-decoration: none;
    color: #1B1C21;
}
.modal-burger__modal-navigation{
    padding-top: 34px;
}
.modal-emptyDiv{
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    top: 118px;
}
.modal-burger__modal-button-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-burger__link{
   padding-bottom: 32px;
   font-size: 16px;
   font-family: 'TT Lakes', sans-serif;
   font-weight: 600;
}
.modal-burger__link.actived{
    color: #7E7E82;
}
.modal-burger__button .btn-support{
    margin-left: auto;
}

.modal-burger__modal-footer{
    position: absolute;
    bottom: 24px;
}
.modal-burger__button{
    padding-bottom: 16px;
}
.modal-burger__email{
    padding-bottom: 12px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.modal-burger__phone{
    padding-bottom: 40px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
}
input[type="radio"]{
    display: none;
}
#rus:checked ~ label[for="rus"]{
    color: #7E7E82;
}
#eng:checked ~ label[for="eng"]{
    color: #7E7E82;
}
#chi:checked ~ label[for="chi"]{
    color: #7E7E82;
}
label{
    font-family: 'TT Lakes', sans-serif;
    padding-right: 7px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
@media(max-width: 1439px){
.sidebar-hide{
    transform: translateX(-640px);
    animation: hide-sidebar 1s;
}
    @keyframes hide-sidebar {
    from {transform:translateX(0);}
    to {transform:translateX(-640px);}
}
.sidebar-show{
    transform: translateX(0);
    animation: open-sidebar 1s;
}
    @keyframes open-sidebar {
    from {transform:translateX(-640px);}
    to {transform:translateX(0);}
}
}
@media(min-width: 640px){
    .modal-burger{
        width: 320px;
    }
    .modal-burger__modal-navigation{
        padding-top: 50px;
    }
    .modal-emptyDiv{
        top: 138px;
    }

    .modal-burger__phone{
        padding-bottom: 40px;
    }
}
@media(min-width: 1440px){
    .modal-burger{
        display: block !important;
        position: absolute;
        transform: translateX(0);
        height: 1024px;
        box-shadow: none;
    }
    .opacity{
        width: 320px;
        height: 100%;
        position: fixed;
        background-color: #FFFFFF;
        opacity: 1 !important;
        display: block !important;
    }
    .btn-cross{
        display: none;
    }
}
