*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sideBar{
 display: none;   
 width: 100%;
 box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
 height: 100%;
 padding-left: 24px;
 position: absolute;
 left: 0;
 top: 0;
 background-color: #FFFFFF;
 opacity: 1;
 z-index: 1001;
}
.opacity{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    display: none;
}

.sideBar-header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;  
}
.sideBar__icon-background{
    max-height: 40px;
    border: 1px solid #FF3E79;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
}
.sideBar__icon-background:hover{
    opacity: 0.7;
    scale: 0.8;
}
.sideBar-header__icon-background-logo{
    margin-right: auto;
}
.header__icon-background-logo{
    width: 96.55px;
    height: 50.81px;
    background-image: url(../img/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.sideBar-header__icon-search{
    width: 40px;
    height: 40px;
    background-image: url(../img/sidebar_search.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 24px;
}
.sideBar-header__icon-cross{
    width: 40px;
    height: 40px;
    background-image: url(../img/cross.png);
    background-position: center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: #1B1C21;
}
.sideBar-main{
    padding-top: 24px;
}
.sideBar-main_empty{
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    top: 92px;
}
.sideBar-main__sideBar-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.sideBar-button__link{
   padding-bottom: 32px;
   font-size: 16px;
   font-family: 'TT Lakes', sans-serif;
   font-weight: 600;
}
.sideBar-button__link.actived{
    color: #7E7E82;
}
.icon-support{
    width: 40px;
    height: 40px;
    background-image: url(../img/support.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
}
.icon-message{
    background-image: url(../img/Message.png);
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-profile{
    background-image: url(../img/Profile.png);
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.sideBar-footer{
    position: absolute;
    bottom: 2vh;
}
.sideBar-footer__button{
    padding-bottom: 16px;
}
.sideBar-footer__email{
    padding-bottom: 12px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.sideBar-footer__phone{
    padding-bottom: 8px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
}
input[type="radio"]{
    display: none;
}
#rus:checked ~ label[for="rus"]{
    color: #7E7E82;
}
#eng:checked ~ label[for="eng"]{
    color: #7E7E82;
}
#chi:checked ~ label[for="chi"]{
    color: #7E7E82;
}
label{
    font-family: 'TT Lakes', sans-serif;
    padding-right: 7px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
@media(max-width: 1439px){
.sidebar-hide{
    transform: translateX(-640px);
    animation: hide-sidebar 1s;
}
    @keyframes hide-sidebar {
    from {transform:translateX(0);}
    to {transform:translateX(-640px);}
}
.sidebar-show{
    transform: translateX(0);
    animation: open-sidebar 1s;
}
    @keyframes open-sidebar {
    from {transform:translateX(-640px);}
    to {transform:translateX(0);}
}
}
@media(min-width: 640px){
    .sideBar{
        width: 320px;
    }
    .sideBar-main{
        padding-top: 50px;
    }
    .sideBar-main_empty{
        top: 116px;
    }
    .sideBar-footer{
        position: relative;
        top: 20%;
    }
    .sideBar-footer__phone{
        padding-bottom: 40px;
    }
}
@media(min-width: 1440px){
    .sideBar{
        display: block !important;
        position: absolute;
        transform: translateX(0);
        height: 1024px;
        box-shadow: none;
    }
    .opacity{
        width: 320px;
        height: 100%;
        position: fixed;
        background-color: #FFFFFF;
        opacity: 1 !important;
        display: block !important;
    }
    .sideBar-header__icon-cross{
        display: none;
    }
}